services:

  influx: 
    image: influxdb:1.8
    restart: always
    ports:
      - 8086:8086
    volumes:
      - influxdata:/var/lib/influxdb

  grafana:
    image: grafana/grafana:latest
    restart: always
    ports:
      - 3001:3000
    volumes:
      - ./Data:/var/lib/grafana
      - ./Provisioning:/etc/grafana/provisioning

volumes:
  influxdata:
    driver: local
  grafanadata:
    driver: local